body {
    background-color: rgba(38, 216, 186, 0.637);
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.table {
    background-color: white;
    padding-top: 20px;
    margin-top: 20px;
}

.table tbody tr:nth-child(odd) {
    background-color: #747e8f;
    color: #fff;
}